mixin tileSmText(data)
  .tile-smtext
    //- .tile-smtext__overlay    
    - const style = `color: ${data.titleColor}`;
      .tile-smtext__title(style= style)= data.title
    p.tile-smtext__desc= data.description
    .tile-smtext__actions
      .tile-smtext__channel= data.channelName
      .tile-smtext__dots
      .tile-smtext__like
