.tile-smtext {
  display: flex;
  flex-direction: column;

  min-height: 200px;

  grid-column: span 3;

  @media (min-width: $screen-sm) {
    max-height: 232px;

    grid-column: span 2;
  }
}

.tile-smtext__overlay {
  width: 100%;
  height: 100%;
}

.tile-smtext__title {
  overflow: hidden;

  max-height: 60px;

  word-break: break-word;

  background-color: #fff;

  font-family: "YS Text";
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.tile-smtext__desc {
  overflow: hidden;

  max-height: 120px;
  margin: 0;
  margin-top: 12px;

  font-size: 14px;
  line-height: 20px;
}

.tile-smtext__actions {
  // flex-wrap: wrap;
  position: relative;

  display: flex;
  align-items: center;

  height: 32px;
  margin: 0;
  margin-top: auto;
  @media (min-width: $screen-md) {
    max-height: none;
    // flex-wrap: nowrap;
    // max-height: 175px;
  }
}

.tile-smtext__channel {
  overflow: hidden;
  flex-grow: 1;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  @media (max-width: $screen-sm) {
    // flex-basis: 100%;
  }
}

.tile-smtext__dots {
  position: relative;
  // top: 0;
  // right: 0;

  width: 30px;
  height: 20px;

  cursor: pointer;
}

.tile-smtext__dots::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Actions);
}

.tile-smtext__like {
  position: relative;
  // bottom: 8px;
  // right: 0;

  width: 32px;
  height: 20px;
  margin-right: 8px;
  margin-left: 8px;

  cursor: pointer;
}

.tile-smtext__like::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Heart);
}
