.tile-md {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 344px;
  height: 302px;

  grid-column: span 6;

  @media (min-width: $screen-sm) {
    grid-column: span 3;
  }
}

.tile-md__overlay {
  position: absolute;
}

.tile-md__title {
  overflow: hidden;

  max-height: 68px;

  word-break: break-word;

  background-color: #fff;

  font-family: "YS Text";
  font-size: 19px;
  font-weight: bold;
  line-height: 23px;
}

.tile-md__whitespace {
  height: 13px;

  background-color: #fff;
}
.tile-md__image-container {
  margin-top: auto;
}
.tile-md__image {
  width: 100%;
  max-height: 180px;
}

.tile-md__desc-container {
  display: flex;
  overflow: hidden;

  height: 58px;
  margin-top: 8px;
}

.tile-md__desc {
  flex: 1 1;

  margin: 0;
}

.tile-md__actions {
  position: relative;

  display: flex;

  width: 35px;

  @media (min-width: $screen-xs) {
    max-height: none;
  }
}

.tile-md__dots {
  position: absolute;
  top: -10px;
  right: 0;

  width: 30px;
  height: 30px;

  cursor: pointer;
}

.tile-md__dots::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Actions);
}

.tile-md__like {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 32px;
  height: 32px;

  cursor: pointer;
}

.tile-md__like::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Heart);
}
