.tile-md {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 21.5rem;
  height: 18.875rem;

  grid-column: span 6;

  @media (min-width: $screen-sm) {
    grid-column: span 3;
  }
}

.tile-md__overlay {
  position: absolute;
}

.tile-md__title {
  overflow: hidden;

  max-height: 4.25rem;

  word-break: break-word;

  background-color: #fff;

  font-family: "YS Text";
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1.4375rem;
}

.tile-md__whitespace {
  height: 0.8125rem;

  background-color: #fff;
}
.tile-md__image-container {
  margin-top: auto;
}
.tile-md__image {
  width: 100%;
  max-height: 11.25rem;
}

.tile-md__desc-container {
  display: flex;
  overflow: hidden;

  height: 3.625rem;
  margin-top: 0.5rem;
}

.tile-md__desc {
  flex: 1 1;

  margin: 0;
}

.tile-md__actions {
  position: relative;

  display: flex;

  width: 2.1875rem;

  @media (min-width: $screen-xs) {
    max-height: none;
  }
}

.tile-md__dots {
  position: absolute;
  top: -0.625rem;
  right: 0;

  width: 1.875rem;
  height: 1.875rem;

  cursor: pointer;

  background: none;
  border: none;
}

.tile-md__dots::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Actions);
}

.tile-md__like {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 2rem;
  height: 2rem;

  cursor: pointer;

  background: none;
  border: none;
}

.tile-md__like::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Heart);
}
