.tile {
  border: 2px solid black;
}

.tile__sm {
  background-color: lightblue;

  // width: 182px;
  height: 234px;
  grid-column: span 2;
}

.tile__md {
  background-color: lightcoral;

  // width: 344px;
  height: 205px;
  grid-column: span 3;
}

.tile__lg {
  background-color: lightgreen;

  // width: 704px;
  height: 243px;
  grid-column: span 6;
}
