mixin layout(tiles)
  .layout
    .layout__container
      .layout__tiles
        include ../tile/tile.pug
        +tile(tiles[0])
        //- +tile_md()
        //- +tile_md()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_lg()
        //- +tile_md()
        //- +tile_md()
        //- +tile_lg()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_md()
        //- +tile_md()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()