mixin layout(tiles)
  .layout
    .layout__container
      .layout__tiles
        include ../tileSm/tileSm.pug
        include ../tileMd/tileMd.pug
        +tileMd(tiles[0])
        //- +tileSm(tiles[2])
        //- +tileSm(tiles[3])
        //- +tileSm(tiles[4])
        //- +tile_md()
        //- +tile_md()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_lg()
        //- +tile_md()
        //- +tile_md()
        //- +tile_lg()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_md()
        //- +tile_md()
        //- +tile_sm()
        //- +tile_sm()
        //- +tile_sm()