.layout__tiles {
  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: dense;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (min-width: $screen-md) {
    grid-row-gap: 38px;
  }
}

.layout__container {
  max-width: 376px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: $screen-sm) {
    max-width: 704px;
  }
}
