mixin layout(tiles)
  .layout
    .layout__container
      .layout__tiles
        include ../tileSm/tileSm.pug
        include ../tileMd/tileMd.pug
        include ../tileLg/tileLg.pug
        include ../tileSmText/tileSmText.pug
        each tile in tiles
          - if (tile.size === 's')
            +tileSm(tile)
          - if (tile.size === 'st')
            +tileSmText(tile)
          - if (tile.size === 'm')
            +tileMd(tile)
          - if (tile.size === 'l')
            +tileLg(tile)