.del {
  height: 50px;
}

.layout__tiles {
  display: block;

  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 38px;
  }
}

.layout__container {
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
}
