mixin tileSm(data)
  .tile-sm
    .tile-sm__overlay    
      - const style = `color: ${data.titleColor}`;
      .tile-sm__title(style= style)= data.title
      .tile-sm__whitespace
      .tile-sm__actions
        .tile-sm__dots
        .tile-sm__like
    .tile-sm__image-container
      - const imgsrc = `%=static=%img/content/${data.image}@3x.png`
        img.tile-sm__image(src= imgsrc)
