.tile-sm {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 12.5rem;

  grid-column: span 3;

  @media (min-width: $screen-sm) {
    max-height: 14.5rem;

    grid-column: span 2;
  }
}

.tile-sm__overlay {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.tile-sm__title {
  overflow: hidden;

  max-height: 3.75rem;

  word-break: break-word;

  background-color: #fff;

  font-family: "YS Text";
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.tile-sm__whitespace {
  // display: none;
  background-color: #fff;
  @media (min-width: $screen-xs) {
    height: 0.875rem;
  }
}

.tile-sm__actions {
  position: relative;

  display: flex;
  flex: 1;

  max-height: 6.5625rem;
  margin-top: auto;
  @media (min-width: $screen-xs) {
    max-height: none;
  }
}

.tile-sm__dots {
  position: absolute;
  top: 0;
  right: 0;

  width: 1.875rem;
  height: 1.25rem;

  cursor: pointer;

  background: none;
  border: none;
}

.tile-sm__dots::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Actions);
}

.tile-sm__like {
  position: absolute;
  right: 0;
  bottom: 0.5rem;

  width: 2rem;
  height: 2rem;

  cursor: pointer;

  background: none;
  border: none;
}

.tile-sm__like::after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  @include bg($Heart);
}

.tile-sm__image-container {
  margin-top: auto;
  font-size: 0;
}

.tile-sm__image {
  max-width: 100%;
}
